ul.tabs {
  width: 100%;
  position: fixed;
  top: 2.5rem;
  z-index: 50;
  overflow-x: scroll;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 0.4rem solid rgba(0, 0, 0, 0.6);
}

li.tab {
  padding: 0.5em;
  text-align: center;
  color: #FFF;
  background-color: #000;
  flex: 1 0 20%;
  cursor: pointer;
}

li.tab.current {
  color: white;
  background-color: #40917d;
  font-weight: bold;
}

.movie-day {
  display: none;
}

.movie-day.current {
  display: block;
  /*flex-direction: column;*/
  /*align-items: center;*/
}

.special-tag {
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.movie-feature {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  /*background: linear-gradient(to bottom, #263030, #0f1010);*/
  /*background: linear-gradient(to bottom, #3c4040, #1e2020);*/
  background: linear-gradient(to bottom, #1e2020, #0a0b0b);
}

.movie-main {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

.movie-title {
  text-align: center;
  padding: 0.5em;
  margin: 0;
  background-color: #303433;
  /*border-radius: 5px;*/
}

.movie-title a {
  color: #FFF;
  text-decoration: none;
}

.poster-times-container {
  display: flex;
  align-items: stretch;
  margin-bottom: 0.5rem;
}

.poster-container {
  flex: 0 1 58%;
  margin-top: 0.5rem;
}

.poster-container img {
    width: 100%;
    height: auto;
}

.times-container {
  flex: 0 1 42%;
  list-style-type: none;
  padding: 0.2rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.times-container li {
  padding: 0.5rem;
  color: black;
  background: #4fb89e;
  margin: 0.2rem 0 0 0.5rem;
  text-align: center;
}

.time {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.btn {
  background-color: #40917d;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  text-align: center;
}

.toggle {
  padding: 0.5em;
  margin: 0.5em;
  background-color: #303433;
  border-radius: 5px;
}

.movie-extra {
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.trailer-reviews {
  display: flex;
  justify-content: space-around;
}

.trailer-reviews > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #4fb89e;
  border-radius: 5px;
}