/* 
Theme: fine-arts
Author: mauney
Author URI: https://github.com/mauney
Version: 0.1.0
*/
 
body {
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  font-size: 16px;
  color: white;
  /*background-color: pink;*/
  background-color: #0a0b0b;
}

* {
  box-sizing: border-box;
}

#fixed-nav {
  position: fixed;
  height: 2.5rem;
  top: 0;
  z-index: 50;
  width: 100%;
  padding: 0.5rem;
  background-color: #000;
  color: #40917d;
  font-size: 1.5rem;
  font-weight: bold;
}

/*.hide-me {*/
/*  display: none;*/
/*}*/

.hero-container {
  padding-top: 7rem;
  background-color: #000;
}

.hero-container img {
  display: block;
  width: 100%;
  height: auto;
}

header h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

header a {
  color: #40917d;
  text-decoration: none;
}

/*sitenav */

.openbtn {
  float: right;
}

.site-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0.5rem;
}

.show-me {
  width: 100%;
}

.site-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.site-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.closebtn {
    position: absolute;
    color: #818181;
    top: 0;
    right: 2rem;
    font-size: 3rem;
    /*margin-left: 4rem;*/
}

.no-sched {
  padding: 1rem;
}

.site-footer {
  padding: 1rem;
}

.site-footer p {
  margin: 0;
}